<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>
<a href="..">Ejecutar otra operación</a>
<h1>No se puede dividir por 0!</h1>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>